.footer {
   
    text-align: center;
    position: fixed;
    padding: 10px;
    font-size: 12px;
    background-color: #ebebec;    
    height: 25px;
    width: 100%;
    left:0px;
    bottom:0px;
      
    } 
    
.a { 
  color: rgb(12, 138, 248); 
  text-decoration: none;
} 
 
          @media(max-width:599px)  {
            @media(max-height:822px)  {
              
                  
            .footer {
                position:relative;
                height:35px; 
                text-align:left;
                padding: 14px;
                font-size: 10px;
            }       
          } 

        }   
    