:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
  /*  background: #4568DC;
    /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
   
   
 
   
}

h1{
    
    color:#e4e2e2;
    font-weight: 500;
    width: 99%;
}
h2{ 
    text-align: center;
    font-weight: 350;
    width: 100%;
  
    color: #292828;
}

table {

    border:solid 1px;
    border-color: #cccaca;
    
}

.Report-form{
   
    background: #f3f1f0;
    width:90%;
    height: 250px;
    align-content: center;
   
}
.Report-Small{
    margin:5% 15%; 
    padding: 5% 7%;
    background: #ffff;
    width:100%;
    border-radius: 15px;
    height: 250px;
    align-content: center;
    
}
.Report-row-header{
    background: url(../imagenes/home3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    max-width: 450px;
    height: 30px;
   
}

.Report-row-footer{
    background: rgb(23, 180, 23);
    color:rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    max-width: 450px;
   
}
.title-report:hover {
    cursor: pointer;
    color:  rgb(240, 184, 30); 
}

.Report-row-impar{
    background: #ffff;
    color:rgb(75, 74, 74);
    font-size: 12px;
    text-align: center;
    height: 20px;
}

.Report-row-par{
    background: #ffff;
    color:rgb(75, 74, 74);
    font-size: 12px;
    text-align: center;
    height: 20px;
}
form .grupo{
    position: relative;
    margin: 5px 5px 5px 5px;
    display:inline-block;
}

input{
    background:#fff;
    color: #c6c6c6;
    font-size: 18px;
    display: block;
    width: 70px;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
select{
    background:#fff;
    color: #c6c6c6;
    font-size: 14px;
    display: block;
   
    height: 28px;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus,select:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 4px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label,
select:focus~label,
select:valid~label{
    top: -20px;
    font-size: 15px;
    color: #f5f7f8;
}

.barra{
    position: relative;
    display: block;
    width: 70px;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: rgb(100, 98, 98);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.btnOk{
    border: none;
    background:#8b40ec; 
    color: #fff; 
    height: 20px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 5px;
}

.btnNot{
    border: none;
    background:#ec4040; 
    color: #fff; 
    height: 20px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 5px;
}
.boton{
    font-family: 'roboto';
    display: inline-block;
    background:#f8f6f6;  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    width: 40px;
    
    color: rgb(47, 151, 143);
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.boton:hover{
    
    background:rgb(240, 184, 30); 
    cursor: pointer;
}
@media screen and (max-width:500px){
    form{
        width: 100%;
    }
}

