body{
	background-color: #f3f1f0;
	font-family: sans-serif;
  }
  
  .contenedor{
	overflow: hidden;
   }
  .izquierda{
  float: left; 
  background-color: #f3f1f0;

  }
  .derecha{
	 background-color: #f3f1f0;
   }

 .title{
     width: 100%;
     text-align: center;
     margin-top: 20px;
     font-size: xx-large;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
     color: rgb(139, 138, 139);
 }